:root {
    /**/
}

a {
    text-decoration: none;
    cursor: pointer;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.3rem;
    padding: 0px;
    margin: 0px;
}

header {
    width: 100%;
    height: 6rem;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section {
    width: 25rem;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a {
    margin-right: 1rem;
    color: #000000;
}

nav .nav-right-section .menu-icon {
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /*para que esté del tam del container*/
    width: 2.5rem;
    height: 2.5rem;
}

nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 1rem;
}

main {
    margin-top: 15rem;
    text-align: center;
}

main .main-logo {
    width:53rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

main .main-logo img {
    width: 30rem;

}

main .main-input {
    width:53rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

main .main-input-container {
    width: 52.5rem;
    border-radius: 10rem;
    border: 0.1rem solid #DFE1E5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input {
    width: 45rem;
    height: 4rem;
    border: none;
    outline: none;
}

main .main-input-container:hover {
    box-shadow: 0 0.1rem 0.6rem 0 #20212447;
    border-color: #DFE1E500;
}

main .main-input .search-icon {
    background-image: url("https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
}

main .main-input .micro-icon {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
}

main .main-buttons {
    width: 53rem;
    margin: 0 auto;
}

main .main-buttons div {
    display: inline-block;
}

main .main-buttons button {
    height: 3.6rem;
    background-color: #F2F2F2;
    border: 0;
    font-size: 1.4rem;
    color: #5F6368;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
    margin-right: 1.5rem;
}

main .main-buttons button:hover {
    border: 0.1rem solid #C6C6C6;
    box-shadow: 0 0.1rem solid #000001;
    color: #222222;
}